nano_nodes/ 
_resources/_blocks
_resources/_ledgers
_resources/blocks
_resources/ledgers
_testcases_old
nl_config.toml 
snippets
_configs
nanolab_venv 
testcases/*.json 
testcases/downloads
nanolab_test.db
.DS_Store
debug_**
__**